# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/

out/

.DS_Store
.gradle/
!gradle/wrapper/*
build/
classes/
*.iml

submission/ICFP2017-1.0-SNAPSHOT-all.jar
submission/src/
!submission/src/README
icfp-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.tar.gz